body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}

.image-cover {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;

}

.content-image {
 
 max-height: 100%;
  position: relative;
  z-index: 2;
  padding: 1rem 1.5rem;
  animation: fadeIn 1.2s ease-in-out;

}



h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  font-size: 1rem;
  background-color: black;
  border-radius: 10px;
  padding: 1rem;
  color: rgba(247, 240, 240, 0.8);
}

footer a {

   color: rgba(176, 177, 187, 0.8);
}